
.chatboxContainer {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}

.chatboxWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.chatbox {
  background-color: aquamarine;
  height: 100ch;
  width: 100%;
  /* max-width: 600px;
  min-width: 500px; */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.msgBox {
  height: 83%;
  width: 95%;
  margin: auto 3% 10px 2.3%;
  background-color: #a78383;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
}

.msgInputBox {
  margin: auto 3% 10px 2.3%;
  width: 95%;
  height: 10%;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
}

.msgInput {
  width: 100%;
  border-radius: 8px;
  border: none;
  height: 90%;
  align-items: center;
  justify-content: center;
  font-size: large;
  resize: none;
  outline: none;
  font-size: 1.1rem;
}

.me {
  display: inline-block;
  background: #35c755;
  color: #333;
  padding: 1px 16px;
  border-radius: 16px;
  margin: 8px 0;
  max-width: 320px; /* Limit the width */
  min-width: 40px; /* Optional: minimum width */
  word-break: break-word; /* Wrap long words */
  font-size: 1rem;
  text-align: left;
  margin-left: auto;
  margin-right: 5px;
}

.them {
  display: inline-block;
  background: #bbc9bd;
  color: #333;
  padding: 1px 16px;
  border-radius: 16px;
  margin: 8px 0;
  max-width: 320px; /* Limit the width */
  min-width: 40px; /* Optional: minimum width */
  word-break: break-word; /* Wrap long words */
  font-size: 1rem;
  text-align: left;
  margin-left: 5px;
  margin-right: auto;
}

.loginPanel {
  background-color: #adc4bc;
  height: 30ch;
  width: 50%;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  border-radius: 12px;
}

.emailInput,
.passInput {
  background-color: #adc4bc;
  height: 35px;
  width: 90%;
  font-size: large;
  border: 0px;
  border-bottom: 1.5px solid;
  outline: none;
}

.loginButton {
  width: 75px;
  background-color: #0072f5;
  height: 35px;
  outline: none;
  border: 0px solid;
  border-radius: 8px;
  font-size: large;
}
.passInput {
  border-bottom: 1px;
}

.pssdiv {
  display: flex;
  border-bottom: 1.5px solid;
  width: 90%;
}

.SignUp {
  text-decoration: none;
  color: #023966;
  margin-top: -25px;
}

