PORT=5000

# PostgreSQL Database Connection (Switch between Neon Cloud and Local by commenting/uncommenting)
# Neon Cloud Database
DATABASE_URL=postgresql://neondb_owner:npg_CjQYuEo6p0Le@ep-bitter-dawn-aex2qd7m-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Local PostgreSQL Database
# DATABASE_URL=postgresql://postgres:your_password@localhost:5432/whatsapp

# Fallback discrete credentials for local development
DB_USER=postgres
DB_HOST=localhost
DB_NAME=whatsapp
DB_PASSWORD=your_password_here
DB_PORT=5432

# Upstash Redis Configuration
UPSTASH_REDIS_REST_URL="your_upstash_redis_rest_url"
UPSTASH_REDIS_REST_TOKEN="your_upstash_redis_rest_token"
